@import "tailwindcss";

@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-light"),
    url("../../assets/fonts/peydaWeb-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-Regular"),
    url("../../assets/fonts/PeydaWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-Medium"),
    url("../../assets/fonts/PeydaWeb-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-SemiBold"),
    url("../../assets/fonts/PeydaWeb-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-Bold"),
    url("../../assets/fonts/PeydaWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-ExtraBold"),
    url("../../assets/fonts/PeydaWeb-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-Black"),
    url("../../assets/fonts/PeydaWeb-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "shahrzad";
  src: local("shahrzad-medium"),
    url("../../assets/fonts/Shahrzad.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html{
  @apply scroll-smooth;
}
body {
  @apply font-Peyda font-semibold;
}

@utility container {
  width: 100%;
  max-width: 1265px;
  padding-inline: 15px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 30px;
  }
  @variant md {
    padding-inline: 50px;
  }
  @variant lg {
    padding-inline: 60px;
  }
  @variant xl {
    padding-inline: 70px;
  }
  @variant 2xl {
    padding-inline: 0px;
  }
}

@theme {
  /* font */
  --font-Peyda: "peyda", sans-serif;
  --font-shahrzad: "shahrzad";
  /* colors */
  --color-smoky-white: #f5f5f5;
  --color-sec-smoky-white: #e6e6e6;
  --color-dark-smoky: #cbc9d1;
  --color-light-gray : #F1F1F1;
  --color-paragraph: #00000080;
  --color-main-Purple: #6147a8;
  --color-lighter-Purple: #845cf2;
  --color-very-light-purple: #f7f5ff;
  --color-light-purple: #6147a82e;
  --color-pastel-purple: #e3deef;
  --color-panel: #e0e0e0;
  /* shadow */
  --shadow-header: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  --shadow-hero-shadow: 0px 4px 4px rgba(132, 92, 250, 0.8);
  --shadow-admin: 1.5px 3px 9px #6434f826;
  --shadow-main: 1.5px 3px 9px #6434f826;
}

@layer utilities {
  .dir-rtl {
    direction: rtl !important;
  }
  .force-hidden {
    display: none !important;
  }
  .active_link {
    @apply bg-main-Purple text-white;
  }

  .logos-swiper .logo-swiper-wrapper {
    transition-timing-function: linear !important;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .login-background-gradient {
    background: linear-gradient(
      107.96deg,
      rgba(138, 119, 189, 0.4148) 1.32%,
      rgba(65, 0, 129, 0.6176) 92.54%
    );
  }

  .login-custom-background {
    background: linear-gradient(
      92.48deg,
      rgba(255, 255, 255, 0.2576) -4.13%,
      rgba(97, 71, 168, 0.46) 107.9%
    );
  }

  .signup-background-gradient {
    background: rgb(97, 71, 168);
    background: linear-gradient(
      61deg,
      rgba(97, 71, 168, 0.4111694677871149) 0%,
      rgba(97, 71, 168, 0.8) 98%
    );
  }

  .signup-custom-background {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1982843137254902) 0%,
      rgba(97, 71, 168, 0.7) 100%
    );
  }

  .advice-custom-bg {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      53deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(97, 71, 168, 0.65) 100%
    );
  }

  @media (max-width: 480px) {
    .custom-responsive {
      display: none;
    }
  }
}
